body {
  display: flex;
  flex-direction: column;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGcxV1StyjW6ZXpMbKtiaXHZinCtrZGV9Rrw&usqp=CAU);

  margin: 0;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 0.9em;

}

#main-container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sidebar a i {
  color: black;
}

.sidebar a i:hover {
  color: blue;
}

a {
  padding: 35px 0 15px 0;
}

.music-head {
  /*background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);*/
  background-color: rgb(240, 184, 240);
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
}

.music-head-img {
  padding: 50px;

}

.music-head-text {
  padding: 30px 0 0 0;
  color: rgb(209, 91, 91);
}

.head-button {
  padding-top: 90px;
}

.music-list {
  position: absolute;
  left: 36px;
  top: 320px;
  width: 100%;
  height: 150px;
}

table {
  width: 97%;
  cursor: pointer;
  background-color: rgb(240, 184, 240);
  border: 1px solid black;
}

table tr td {

  padding: 10px;

}

tr:nth-child(even) {
  background-color: rgb(240, 184, 240);
}

table tr:hover {
  color: blue;
}

#bottom-container {
  display: flex;
  flex-direction: row;
  /*background-image: linear-gradient(to left,rgb(35, 235, 35), rgb(116, 156, 116));*/
  background-color: rgb(101, 92, 231);
  color: rgb(12, 11, 11);
  height: 100px;
  padding: 10px;
}

.bottom-img {
  height: 100px;
  width: 150px;
}

.bottom-text-container {
  padding-top: 0px;
  margin: 10px;
}

.track-control {
  margin-left: 10px;

}

.track-control i {
  padding: 35px;
}